{% load static %}
<section id="cta" class="section-padding">
  <div class="container" style="background-color: transparent !important;">
      <div class="row" style="background-color: transparent !important;">
        <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s" style="background-color: transparent !important;">           
          <div class="cta-text" style="background-color: transparent !important;">
            <h4>Tenha o controle completo de sua manutenção!</h4>
            <p>Após a realização do cadastro, nossos consultores irão lhe contatar imediatamente para agendar uma demonstração.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
          </br><a href="{% url 'cadastro_usuario' %}" class="btn btn-common">Comece Agora</a>
        </div>
      </div>
    </div>
  </section>