{% load static %}
<section id="features" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Recursos da Plataforma</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="content-left">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
              <span class="icon">
                <i class="lni-rocket"></i>
              </span>
              <div class="text">
                <h4>Implantação Rápida</h4>
                <p>Sistema cloud pronto para uso em minutos, sem necessidade de infraestrutura local ou instalações complexas.</p>
              </div>
            </div>
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
              <span class="icon">
                <i class="lni-laptop-phone"></i>
              </span>
              <div class="text">
                <h4>Acessível em Qualquer Dispositivo</h4>
                <p>Acesse informações e gerencie manutenções de qualquer lugar, através de computadores, tablets ou smartphones.</p>
              </div>
            </div>
            <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
              <span class="icon">
                <i class="lni-database"></i>
              </span>
              <div class="text">
                <h4>Armazenamento Seguro</h4>
                <p>Seus dados estão protegidos com criptografia de ponta e backup automático em servidores redundantes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
            <img src="{% static 'img/intro-mobile.png' %}" alt="weconn">
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="content-right">
            <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
              <span class="icon">
                <i class="lni-cloud"></i>
              </span>
              <div class="text">
                <h4>Integração IoT</h4>
                <p>Conecte sensores e equipamentos para monitoramento em tempo real e manutenção preventiva e preditiva baseada em dados.</p>
              </div>
            </div>
            <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
              <span class="icon">
                <i class="lni-stats-up"></i>
              </span>
              <div class="text">
                <h4>Análise Avançada</h4>
                <p>Relatórios personalizados, KPIs de manutenção e painéis interativos para análise profunda do seu parque industrial.</p>
              </div>
            </div>
            <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
              <span class="icon">
                <i class="lni-users"></i>
              </span>
              <div class="text">
                <h4>Gestão de Equipes</h4>
                <p>Distribua ordens de serviço, acompanhe a produtividade e otimize a alocação das suas equipes de manutenção.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>