{% load static %}
<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt="Weconn"></h3>
              <div class="textwidget">
                <p>Weconn: A solução completa para gestão de manutenção industrial. Otimize processos, reduza custos e aumente a disponibilidade de seus equipamentos.</p>
              </div>
              <!--
              <div class="social-icon">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Soluções</h3>
            <ul class="footer-link">
              <li><h6>Gestão de Ativos</h6></li>
              <li><h6>Planejamento de Recursos</h6></li>
              <li><h6>Gestão de Equipes</h6></li>           
              <li><h6>Análise de Dados</h6></li>           
            </ul>
          </div>
          <!--
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Recursos</h3>
            <ul class="footer-link">
              <li><a href="#">Centro de Ajuda</a></li>
              <li><a href="#">Documentação</a></li>
              <li><a href="#">Primeiros Passos</a></li>
              <li><a href="#">Webinários</a></li>
              <li><a href="#">Blog Técnico</a></li>
            </ul>
          </div>
          -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Contato</h3>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i> Rua Sergipe - <br> Centro, Santa Rosa - RS</a>
              </li>
              <li>
                <a href="https://wa.me/5555811771139" target="_blank"><i class="lni-whatsapp"></i> +55 55 8117-7139</a>
              </li>
              
              <li>
                <a href="#"><i class="lni-envelope"></i> alexander@pronoroeste.com</a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Copyright © 2025 <a rel="nofollow" href="#">Weconn</a> Todos os direitos reservados</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">
  </footer>