{% load static %}
<div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Analise seus Dados de Manutenção</p>
                <h2 class="section-title">Estatísticas Detalhadas para Tomada de Decisão</h2>
              </div>
              <div class="content">
                <p>
                  Com o Weconn, tenha acesso a dashboards e relatórios detalhados sobre o desempenho dos seus equipamentos, histórico de manutenções, tempo médio entre falhas (MTBF), tempo médio para reparo (MTTR) e muito mais. 
                </p>
                <a href="#pricing" class="btn btn-common mt-3">Conheça os Planos</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="Dashboard de Manutenção" >
        </div>
      </div>
    </div>
  </div>